@import "clear-sans";
@import "tomorrow";
@import "rubik";
 
 $fonts: $fontFamily-sans $fontFamily-serif $fontFamily-mono $fontFamily-headings $fontFamily-hero;
 
 @if contains($fonts, "'Clear Sans', sans-serif") {
     @include clear-sans;
 }

$fontsTomorrow: $fontFamily-sans $fontFamily-serif $fontFamily-mono $fontFamily-headings $fontFamily-hero;

@if contains($fontsTomorrow, "'Tomorrow', sans-serif") {
    @include tomorrow;
}

$fontsRubik: $fontFamily-sans $fontFamily-serif $fontFamily-mono $fontFamily-headings $fontFamily-hero;

@if contains($fontsRubik, "'Rubik', sans-serif") {
    @include rubik;
}
