@mixin Tomorrow {
    @font-face {
        font-family: 'Tomorrow', sans-serif;
        src: url('Tomorrow-Bold.eot');
        src: url('Tomorrow-Bold.eot?#iefix') format('embedded-opentype'),
            url('Tomorrow-Bold.woff2') format('woff2'),
            url('Tomorrow-Bold.woff') format('woff'),
            url('Tomorrow-Bold.ttf') format('truetype'),
            url('Tomorrow-Bold.svg#Tomorrow-Bold') format('svg');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }        
}
